<!-- comments.handlebars -->
{{! Use Bulma CSS classes for styling }}

{{! Add your comments template code here }}
<div class="comments">
  <h3 class="title is-5">Add a Comment</h3>
  <form action="models/Comment.js" method="POST">
    <div class="field">
      <div class="control">
        <textarea
          class="textarea"
          name="comment"
          placeholder="Enter your comment"
          required
        ></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Submit</button>
      </div>
    </div>
  </form>

  {{#if comments}}
    <h3 class="title is-5">Comments</h3>
    <ul class="comment-list">
      {{#each comments}}
        <li class="comment">
          <p class="comment-content">{{comment}}</p>
          <p class="comment-author">Posted by
            {{User.username}}
            on
            {{formatDate created_at}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No comments found.</p>
  {{/if}}
</div>