{{!-- comment.handlebars --}}

<div class="comment">
  <div class="comment-header">
    <h4>{{username}}</h4>
    <p>{{formatDate created_at}}</p>
  </div>
  <div class="comment-body">
    <p>{{comment_text}}</p>
  </div>
</div>
