<div class="comments">
  {{#each this}}
  <section class="box comment">
    <div class="media">
      <div class="media-content">
        <p>
          <strong>{{user.username}}</strong> on {{format_date created_at}}
        </p>
        <p>
          {{comment_text}}
        </p>
      </div>
    </div>
  </section>
  {{/each}}
</div>
