<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Your Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="flex-column min-100-vh">
     <header class="mvc">
      <h1 class="app-title"><a href="/dashboard">User Dash</a></h1>
    </header>

    <nav class="navbar">
      <ul class="flex-row">
        <li class="li-inline nav-item"><a href="/">Home</a></li>
        <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
        <li class="li-inline nav-item"><a href="#" id="logout-link">Log Out</a></li>
        <li class="li-inline nav-item"><a href="/dashboard/new">New Post</a></li>
      </ul>
    </nav>
   
    <main class="col-auto">

      {{{body}}}
  
    </main>

  </body>
  <script src="/js/logout.js"></script>
</html>
