<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Tech Blog</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/controllers/dashboard-routes.js">Dashboard</a></li>
          {{#if logged_in}}
            <li><a href="/public/js/logout.js">Logout</a></li>
          {{else}}
            <li><a href="/public/js/login.js">Login</a></li>
            <li><a href="/public/js/signup.js">Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>&copy; 2023 Tech Blog.</p>
    </footer>

    <script src="/scripts/main.js"></script>
  </body>

</html>