<section>
  <h2 class="title">Create New Post</h2>
  <form class="new-post-form">
    <div class="field">
      <label class="label" for="post-title">Title</label>
      <div class="control">
        <input type="text" id="post-title" name="post-title" class="input" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="post-text">Post</label>
      <div class="control">
        <textarea id="post-text" name="post-text" class="textarea"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">Create</button>
      </div>
    </div>
  </form>
</section>

<script src="/js/add-post.js"></script>
