{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="field">
    <label class="label" for="comment-body">Add Comment</label>
    <div class="control">
      <textarea name="comment-body" class="textarea"></textarea>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Add Comment</button>
    </div>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
