@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --lightgrey: #ccdad1;
  --shade: #484645;
  --grey: #444444; 
  --border-radius: 0.3rem;
}
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 219, 195);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; 
  color: var(--grey);
  line-height: 1.5;
  font-size: 16px;
}

p{
  margin-left: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--grey);
  line-height: 1.25;
  margin-left:5px;
}

.tittle-h2 a{
  color: rgb(195, 219, 195) !important;
}

h2 a:visited {
  color: var(--grey);
}

h2 a {
  color: rgb(195, 219, 195);
}

header {
  margin-top: 50px;
}

main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.card-header h2 {
  color: rgb(195, 219, 195);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: rgb(195, 219, 195);
  border: none;
  outline: none;
  background-color: var(--shade);
  box-shadow: 3px 3px var(--grey);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: rgb(195, 219, 195);
  background-color: var(--grey);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--grey);
  cursor: pointer;
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--shade); 
}

.nav-item {
  margin: 0 40px;
}

.nav-item:hover{
  text-decoration: underline 5px;
  color:rgb(195, 219, 195);
  text-underline-offset: 5px;

}

.nav-item a {
  color: rgb(195, 219, 195);
}

.mvc {
  padding: 3% 4%;
}
  
.app-title {
  font-size: 3rem;
  background-color: rgb(195, 219, 195);
  padding: 0 10px;
  display: inline-block;
  color: var(--shade); 
}

.app-title:hover{
  background-color:rgb(195, 219, 195);
  color: rgb(195, 219, 195);
}

.app-title a {
  color: var(--grey);
}

.app-tittle:hover a{
  color: rgb(195, 219, 195);
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--lightgrey); 
  color: var(--shade); 
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--grey);
}
.footer {
  background-color: var(--shade); 
  color: var(--lightgrey);
  text-align: center;
  margin-top: 10px;
}
.footer a {
  display: inline-block;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: var(--grey);
  color: rgb(195, 219, 195);
  border-radius: var(--border-radius);
  text-decoration: none;
}

.card {
  margin: 0 0 30px 0;
  border: 13px solid var(--grey);
  border-radius: var(--border-radius);
}

.card-header {
  color: rgb(195, 219, 195);
  background-color: var(--grey);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

.card-body2 {
  padding: 3%;
  font-size: 1rem;
  margin: 10px;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--shade);
  border-radius: var(--border-radius);
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.footer {
  background-color: var(--grey);
  color: rgb(195, 219, 195);
  text-align: center;

  margin-top: 10px;

  
}
